.HomePage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* width: 100%; */
  min-height: 750px;
}

.srpContainer{
  margin: 0 auto;
  max-width: 1188px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}